<a href="https://colab.research.google.com/github/NourAJ20/NourAJ20/blob/main/Employee_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [58]:
import pandas as pd

In [59]:
#Read in the employee data csv file and set it to a DataFrame called emp

emp = pd.read_csv('employee_data.csv')

In [60]:
emp.head(10)

,EmpID,FirstName,LastName,StartDate,ExitDate,Title,Supervisor,ADEmail,BusinessUnit,EmployeeStatus,...,Division,DOB,State,JobFunctionDescription,GenderCode,LocationCode,RaceDesc,MaritalDesc,Performance Score,Current Employee Rating
0,3427,Uriah,Bridges,20-Sep-19,NaN,Production Technician I,Peter Oneill,uriah.bridges@bilearner.com,CCDR,Active,...,Finance & Accounting,07-10-1969,MA,Accounting,Female,34904,White,Widowed,Fully Meets,4
1,3428,Paula,Small,11-Feb-23,NaN,Production Technician I,Renee Mccormick,paula.small@bilearner.com,EW,Active,...,Aerial,30-08-1965,MA,Labor,Male,6593,Hispanic,Widowed,Fully Meets,3
2,3429,Edward,Buck,10-Dec-18,NaN,Area Sales Manager,Crystal Walker,edward.buck@bilearner.com,PL,Active,...,General - Sga,06-10-1991,MA,Assistant,Male,2330,Hispanic,Widowed,Fully Meets,4
3,3430,Michael,Riordan,21-Jun-21,NaN,Area Sales Manager,Rebekah Wright,michael.riordan@bilearner.com,CCDR,Active,...,Finance & Accounting,04-04-1998,ND,Clerk,Male,58782,Other,Single,Fully Meets,2
4,3431,Jasmine,Onque,29-Jun-19,NaN,Area Sales Manager,Jason Kim,jasmine.onque@bilearner.com,TNS,Active,...,General - Con,29-08-1969,FL,Laborer,Female,33174,Other,Married,Fully Meets,3
5,3432,Maruk,Fraval,17-Jan-20,NaN,Area Sales Manager,Sheri Campos,maruk.fraval@bilearner.com,BPC,Active,...,Field Operations,03-04-1949,CT,Driver,Male,6050,Black,Married,Fully Meets,3
6,3433,Latia,Costa,06-Apr-22,03-Jul-23,Area Sales Manager,Jacob Braun,latia.costa@bilearner.com,WBL,Active,...,General - Eng,01-07-1942,CA,Technician,Female,90007,Hispanic,Divorced,Exceeds,4
7,3434,Sharlene,Terry,06-Nov-20,29-Jan-23,Area Sales Manager,Tracy Marquez,sharlene.terry@bilearner.com,CCDR,Active,...,Engineers,07-03-1957,OR,Engineer,Female,97756,White,Divorced,Fully Meets,2
8,3435,Jac,McKinzie,18-Aug-18,NaN,Area Sales Manager,Sharon Becker,jac.mckinzie@bilearner.com,NEL,Active,...,Executive,15-05-1974,TX,Executive Assistant,Male,78789,Black,Widowed,Exceeds,3
9,3436,Joseph,Martins,21-Jan-22,29-Jun-23,Area Sales Manager,George Jenkins,joseph.martins@bilearner.com,BPC,Active,...,Engineers,11-11-1949,TX,Engineer,Male,78207,Asian,Widowed,Fully Meets,5

In [61]:
emp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 26 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   EmpID                       3000 non-null   int64
 1   FirstName                   3000 non-null   object
 2   LastName                    3000 non-null   object
 3   StartDate                   3000 non-null   object
 4   ExitDate                    1533 non-null   object
 5   Title                       3000 non-null   object
 6   Supervisor                  3000 non-null   object
 7   ADEmail                     3000 non-null   object
 8   BusinessUnit                3000 non-null   object
 9   EmployeeStatus              3000 non-null   object
 10  EmployeeType                3000 non-null   object
 11  PayZone                     3000 non-null   object
 12  EmployeeClassificationType  3000 non-null   object
 13  TerminationType             3000 non-null   object
 14  TerminationDescription      1533 non-null   object
 15  DepartmentType              3000 non-null   object
 16  Division                    3000 non-null   object
 17  DOB                         3000 non-null   object
 18  State                       3000 non-null   object
 19  JobFunctionDescription      3000 non-null   object
 20  GenderCode                  3000 non-null   object
 21  LocationCode                3000 non-null   int64
 22  RaceDesc                    3000 non-null   object
 23  MaritalDesc                 3000 non-null   object
 24  Performance Score           3000 non-null   object
 25  Current Employee Rating     3000 non-null   int64
dtypes: int64(3), object(23)
memory usage: 609.5+ KB

In [62]:
emp.columns

Index(['EmpID', 'FirstName', 'LastName', 'StartDate', 'ExitDate', 'Title',
       'Supervisor', 'ADEmail', 'BusinessUnit', 'EmployeeStatus',
       'EmployeeType', 'PayZone', 'EmployeeClassificationType',
       'TerminationType', 'TerminationDescription', 'DepartmentType',
       'Division', 'DOB', 'State', 'JobFunctionDescription', 'GenderCode',
       'LocationCode', 'RaceDesc', 'MaritalDesc', 'Performance Score',
       'Current Employee Rating'],
      dtype='object')

In [63]:
len(emp.index)

3000

In [64]:
emp['JobFunctionDescription']=='Engineer'

0       False
1       False
2       False
3       False
4       False
        ...
2995    False
2996     True
2997    False
2998    False
2999    False
Name: JobFunctionDescription, Length: 3000, dtype: bool

In [65]:
emp[emp['JobFunctionDescription'] == 'Engineer']

,EmpID,FirstName,LastName,StartDate,ExitDate,Title,Supervisor,ADEmail,BusinessUnit,EmployeeStatus,...,Division,DOB,State,JobFunctionDescription,GenderCode,LocationCode,RaceDesc,MaritalDesc,Performance Score,Current Employee Rating
7,3434,Sharlene,Terry,06-Nov-20,29-Jan-23,Area Sales Manager,Tracy Marquez,sharlene.terry@bilearner.com,CCDR,Active,...,Engineers,07-03-1957,OR,Engineer,Female,97756,White,Divorced,Fully Meets,2
9,3436,Joseph,Martins,21-Jan-22,29-Jun-23,Area Sales Manager,George Jenkins,joseph.martins@bilearner.com,BPC,Active,...,Engineers,11-11-1949,TX,Engineer,Male,78207,Asian,Widowed,Fully Meets,5
26,3453,Bridger,Carter,13-Oct-22,NaN,Area Sales Manager,Elizabeth Taylor,bridger.carter@bilearner.com,WBL,Active,...,Fielders,07-04-1982,MA,Engineer,Male,87065,White,Widowed,Fully Meets,4
40,3467,Celia,Curtis,06-May-20,NaN,Area Sales Manager,Michael Odonnell,celia.curtis@bilearner.com,WBL,Active,...,Fielders,14-05-1987,KY,Engineer,Female,94333,Asian,Divorced,Exceeds,1
49,3476,Charlie,Koch,12-Jun-23,06-Jul-23,Area Sales Manager,Samantha Cardenas,charlie.koch@bilearner.com,PYZ,Active,...,Fielders,20-06-1945,MA,Engineer,Male,95774,Asian,Divorced,Needs Improvement,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2912,3339,Alyson,Hickman,22-Aug-21,NaN,Production Technician I,Matthew Lyons,alyson.hickman@bilearner.com,PL,Active,...,Technology / It,11-12-1951,MA,Engineer,Male,50557,Hispanic,Divorced,Fully Meets,5
2963,3390,Lizeth,Middleton,21-Oct-22,05-Jan-23,Production Technician II,Joanna Nguyen,lizeth.middleton@bilearner.com,CCDR,Leave of Absence,...,Billable Consultants,10-01-1969,MA,Engineer,Female,90024,Hispanic,Married,Fully Meets,1
2975,3402,Nevaeh,Mcmillan,03-Mar-21,12-Apr-22,Production Technician I,Laura Wong,nevaeh.mcmillan@bilearner.com,CCDR,Voluntarily Terminated,...,Field Operations,30-11-1971,MA,Engineer,Male,22662,Black,Single,Fully Meets,3
2978,3405,Selina,Jefferson,13-Jan-20,21-Oct-22,Production Technician I,Karen Lin,selina.jefferson@bilearner.com,WBL,Leave of Absence,...,Field Operations,02-03-1979,MA,Engineer,Female,12351,White,Single,Fully Meets,1
2996,3423,Adyson,Strickland,28-Dec-20,NaN,Production Technician I,Caroline Harris,adyson.strickland@bilearner.com,SVG,Active,...,Engineers,10-06-2001,MA,Engineer,Male,35444,Black,Widowed,Fully Meets,3

In [66]:
emp[emp['JobFunctionDescription'] == 'Engineer'].count()

EmpID                         313
FirstName                     313
LastName                      313
StartDate                     313
ExitDate                      164
Title                         313
Supervisor                    313
ADEmail                       313
BusinessUnit                  313
EmployeeStatus                313
EmployeeType                  313
PayZone                       313
EmployeeClassificationType    313
TerminationType               313
TerminationDescription        164
DepartmentType                313
Division                      313
DOB                           313
State                         313
JobFunctionDescription        313
GenderCode                    313
LocationCode                  313
RaceDesc                      313
MaritalDesc                   313
Performance Score             313
Current Employee Rating       313
dtype: int64

In [67]:
emp[emp['JobFunctionDescription'] == 'Engineer']['JobFunctionDescription'].count()

# 313 empoyees are within Engineering

313

In [68]:
emp['EmpID']== 3339

0       False
1       False
2       False
3       False
4       False
        ...
2995    False
2996    False
2997    False
2998    False
2999    False
Name: EmpID, Length: 3000, dtype: bool

In [69]:
emp[emp['EmpID'] == 3339]['FirstName']

2912    Alyson
Name: FirstName, dtype: object

In [70]:
emp['BusinessUnit']== 'PL'

0       False
1       False
2        True
3       False
4       False
        ...
2995    False
2996    False
2997    False
2998    False
2999    False
Name: BusinessUnit, Length: 3000, dtype: bool

In [71]:
emp[emp['BusinessUnit']== 'PL']['FirstName']

2         Edward
18          Reid
30        Milton
42        Ryland
53      Jerimiah
          ...
2949       Maren
2961        Zoie
2971       Kyler
2982     Brenton
2994     Brenden
Name: FirstName, Length: 301, dtype: object

In [72]:
emp[emp['BusinessUnit']== 'PL']['BusinessUnit'].count()

301

In [73]:
emp[emp['EmployeeStatus']== 'Active']['EmployeeStatus'].count()

# So many are active, great!

2458

In [74]:
emp[emp['Current Employee Rating'] == 5]['Current Employee Rating'].count()

270

In [75]:
race_counts = emp['RaceDesc'].value_counts()

In [76]:
race_list = ['{} | {}'.format(race, count) for race, count in race_counts.items()]

In [77]:
print(race_list)

['Asian | 629', 'Black | 618', 'White | 599', 'Other | 582', 'Hispanic | 572']

In [79]:
emp['StartDate'] = pd.to_datetime(emp['StartDate'], format='%d-%b-%y')

In [81]:
 emp[emp['StartDate'].dt.year > 2020]

,EmpID,FirstName,LastName,StartDate,ExitDate,Title,Supervisor,ADEmail,BusinessUnit,EmployeeStatus,...,Division,DOB,State,JobFunctionDescription,GenderCode,LocationCode,RaceDesc,MaritalDesc,Performance Score,Current Employee Rating
1,3428,Paula,Small,2023-02-11,NaN,Production Technician I,Renee Mccormick,paula.small@bilearner.com,EW,Active,...,Aerial,30-08-1965,MA,Labor,Male,6593,Hispanic,Widowed,Fully Meets,3
3,3430,Michael,Riordan,2021-06-21,NaN,Area Sales Manager,Rebekah Wright,michael.riordan@bilearner.com,CCDR,Active,...,Finance & Accounting,04-04-1998,ND,Clerk,Male,58782,Other,Single,Fully Meets,2
6,3433,Latia,Costa,2022-04-06,03-Jul-23,Area Sales Manager,Jacob Braun,latia.costa@bilearner.com,WBL,Active,...,General - Eng,01-07-1942,CA,Technician,Female,90007,Hispanic,Divorced,Exceeds,4
9,3436,Joseph,Martins,2022-01-21,29-Jun-23,Area Sales Manager,George Jenkins,joseph.martins@bilearner.com,BPC,Active,...,Engineers,11-11-1949,TX,Engineer,Male,78207,Asian,Widowed,Fully Meets,5
10,3437,Myriam,Givens,2023-08-04,NaN,Area Sales Manager,Troy White,myriam.givens@bilearner.com,SVG,Active,...,Field Operations,26-01-1964,IN,Technician,Female,46204,Other,Single,Fully Meets,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2990,3417,Brayden,Singh,2022-02-07,NaN,Production Technician I,Clayton Davis,brayden.singh@bilearner.com,CCDR,Active,...,Splicing,26-09-2000,MA,Splicer,Female,71282,Other,Widowed,Fully Meets,1
2991,3418,Karma,Palmer,2022-10-14,NaN,Production Technician I,Nicholas Price,karma.palmer@bilearner.com,EW,Active,...,General - Con,12-08-1996,MA,Coordinator,Female,40277,Asian,Widowed,Fully Meets,4
2994,3421,Brenden,Leach,2022-05-09,08-Sep-22,Production Technician I,Donna Lawson,brenden.leach@bilearner.com,PL,Active,...,Wireless,11-06-1959,MA,Foreman,Female,57340,Other,Divorced,Fully Meets,1
2995,3422,Jakobe,Erickson,2022-06-22,07-Aug-22,Production Technician I,Bethany Carter,jakobe.erickson@bilearner.com,PYZ,Leave of Absence,...,Engineers,23-06-1998,MA,Model Assistant,Female,44500,Other,Widowed,Fully Meets,3
2999,3426,Chace,Kerr,2022-04-27,NaN,Production Technician I,Javier Mccall,chace.kerr@bilearner.com,BPC,Active,...,Field Operations,11-09-1990,MA,Warehouse Technician,Female,57487,White,Married,Fully Meets,2

In [83]:
 emp[emp['StartDate'].dt.year > 2020]['StartDate'].count()

 # 1555 employees started after 2020

1555